@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  
  h2 {
    @apply text-2xl font-semibold;
  }
} 